                    /*COLOURS*/
/*MAROON = #732534*/
/*DARKER = #331017*/
/*ORANGE = #DF7200*/


                    /*GENERAL*/


html,body {
    height: 100%;
    margin: 0;
    overflow:auto;
    overflow:initial;
    overflow-x:hidden;
    background-color: whitesmoke;
}

                        /*TEXT*/

.primary-text{
    font-family: "Biryani";
    text-transform: uppercase;
}

.secondary-text{
    font-family: "Poppins";
}

.text-shadow{
    text-shadow: 4px 4px 10px black;
}

.bold-text{
    font-weight: bold;
}

                        /*NAVBAR*/
.navbar{
    height: 3.5rem;
    background-color: #732534;
    color: white;
    border-bottom: thin solid #331017;
}

.navbar a{
    color: white !important;
}

.nav-link{
    padding-bottom: 15px;
    text-align: center;
}

@media (max-width: 800px){
    .navbar a{
        background-color: #732534;
        border: none;
    }
}

.navbar-brand{
    background-color: #732534;
    border-bottom: thick solid #732534;
}

.navbar-brand img{
    height: 30px;
    width: 30px;
}

.dropdown-menu{
    background-color: #331017;
    border-radius: 10%;
    border-radius:0%;
    border-bottom-right-radius: 10%;
}

@media (max-width: 800px){
    .dropdown-menu{
        border-radius: 0%;
    }
}


.dropdown-menu a{
    border-bottom: none;
}

.dropdown-menu a:hover{
    border-bottom: none;
    background-color:#DF7200; 
}

#right-nav i{
    margin: 5px;
}


                        /*HOME PAGE*/

/* #header-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-4deg);
    transform-origin: top left;
    
    background-image: url("../assets/london-skyline-red.png");
    background-size: auto auto;
    background-color: #732534;
    background-position: top;
    
} */

/* #landing-page{
    height: 100vh;
    background-color: whitesmoke;
    padding: 0;
    display: flex;
    flex: 0 1 auto;
} */
#banner{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-top: 0;
    justify-content: space-between;

    background-color: #732534;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23331017' fill-opacity='0.16'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: auto auto;
    background-position: center;
}

#banner-left{
    flex-basis: 70%;
    flex-shrink: 0;
    flex-grow: 0;
}

#banner-right{
    justify-content: center;
}

#pn-container{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    font-size: 20px;
}

.fa{
    padding: 5px;
}

#landing-page-title{
    color: whitesmoke;
    font-size: 500%;
}

#tagline{
    color: whitesmoke;
}

.carousel{
    max-height: 400px;
    min-height: 200px;
    overflow: hidden;
}

@media (max-width: 800px){

    /* #header-bg{
        transform: skewY(-7deg);
    }
    #home-banner{
        height: 100vh;
        width: 100%;
    } */

    .carousel{
        height: 200px;
    }

    .carousel-item img{
        object-fit: scale-down;
        height: 200px;
    }

    #landing-page-title{
        font-size: 10vw;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        padding-right: 1rem;
    }

    #tagline{
        font-size: 4vw;
    }
    
    #intro-text{
        padding-right: 0;
    }

    #banner{
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 2px 5px black;
    }

    #banner-left{
        text-align: center;
    }
}



                        /*SERVICES Shortcut*/

#services-page{
    background-color: whitesmoke;
    margin-left: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

#services-title{
    color: black;
    text-align: center;
    padding-top: 3rem;
    z-index: 3;
}

#services-title h1{
    font-size: 4em;
}

#services-row{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.services-card{
    height: 15rem;
    width: 10rem;
    background-color: whitesmoke; 
    border: thin solid black;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align:center;
    flex-shrink: 0;
}

.services-card:hover{
    cursor: pointer;
    background-color: #732534;
    color: white;
    box-shadow: 0px 2px 5px black;
}

#services-info-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: thin solid #732534;
    border-bottom: thin solid #732534;
    padding: 1rem;
    overflow: hidden;
    margin-bottom: 3rem;
    background-color: #939393;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bfbfbf' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: auto auto;
    background-position: center;
}

.services-info-text a{
    color: #DF7200;
}

.services-info-text{
    text-align: center;
    color: white;
}

.card-img{
    width:100%;
    height: 10rem;
    top: 0;
}

@media(max-width: 800px){
    #services-row{
        flex-direction: row;
        overflow: scroll;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .services-card{
        margin: 0.5rem;
    }
}

/*/////ACCREDITATION////*/

#cred-container h1{
    text-align: center;
    color: #732534;
}

#cred-container{
    border-top: medium solid #331017;
    border-bottom: medium solid #331017;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.cred-row{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 1rem;
    margin-bottom: 1rem;
}

.cred-row img{
    height: 100px;
    width: auto;
    margin: 2px;
    border: solid thin black;
}

                    /*FOOTER*/


#footer{
    background-color: #331017;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: white;
}

#contact-column{
    margin-top: 2rem;
    display:flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
}

@media(max-width:800px){
    #contact-row{
        flex-direction: column;
        justify-content: space-around;
    }
}
.contact-card{
    max-width: 20rem;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 5rem;
}

.contact-card i{
    margin-right: 1rem;
}

@media(max-width:800px){
    .contact-card{
        margin: 0.5rem
    }
}

.c-card-details{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

#footer i{
    vertical-align: middle;
}

/*///////CASE STUDIES///////*/

#cs-page{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    padding-left: 6rem;
    padding-right: 6rem;
}

#cs-title-container{
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #732534;
}

.case-study-card{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    border-bottom: solid medium #732534;
    padding: 1rem;
    height: 66rem;
    width: 35rem;
    margin: 1rem;
    box-shadow: black 0px 0px 5px;
}

.case-study-img{
    width: 100%;
    height: auto;
}

.case-study-text{
    padding: 1rem;
    padding-bottom: 0;
}

.case-study-text h4{
    color: #732534;
}

.case-study-row{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

/*//////SERVICES/////*/

#services-title{
    margin: 0 auto 1rem auto;
    color: #732534;
}

.service-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid thin #732534;
    width: 80%;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
}

.serv-img{
    height: 15rem;
    margin-right: 1.5rem;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex:1;
}

.serv-text-div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:2;
}

.serv-text-div h1{
    color: #732534;
}

@media (max-width: 800px){
    .service-div{
        flex-direction: column;
        width: 100%;
        height: 80vh;
        
    }
    .serv-img{
        margin: auto;
        height: 10rem;
        justify-self: center;
    }

    .serv-text-div{
        height: 10rem;
        overflow: scroll;
        flex-wrap: nowrap;
        margin-top: 1rem;
        background:
        -webkit-linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
        -webkit-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)) 0 100%;
        background: 
        -webkit-linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
        -webkit-radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)) 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-attachment: local, local, scroll, scroll;
    }

    .serv-text-div h1{
        font-size: 200%;
    }
    
}