                    /*COLOURS*/
/*MAROON = #732534*/
/*ORANGE = #DF7200*/


                    /*GENERAL*/


html,body {
    height: 100%;
    margin: 0;
    overflow: visible;
    overflow-x: hidden;
    position: relative;
}


                        /*TEXT*/

.primary-text{
    font-family: "Biryani";
    text-transform: uppercase;
}

.secondary-text{
    font-family: "Fjalla One";
}

.text-shadow{
    text-shadow: 4px 4px 5px black;
}

                        /*NAVBAR*/
.navbar{
    height: 3rem;
}

.navbar {
    color: white;
}

.navbar .fa{
    margin-left: 1em;
}

#p-number{
    margin-top: 3.5em;
    position: fixed;
    width: auto;
    margin-left: 1rem;
    z-index: 1;
    color: white;
    text-shadow: 4px 4px 5px black;
}

#p-number p{
    margin-left: 1em;
    font-size: 1.5rem;
}

#services-sidenav .navbar{
    height: 100%;
}

.nav-link{
    color: lightgrey;
}

                        /*HOME PAGE*/

#home-banner{
    height: 100vh;
    width: 100vw;
    background-image: url("images/mohan-site01.jpg");
    padding: 0;
    display: flex;
    flex: 0 1 auto;
    border-bottom: thin solid darkgrey;
}

@media (max-width: 800px){
    #home-banner{
        height: 100vh;
        width: 100%;
    }
}

#mohan-banner-title{
    color: #732534;
    font-size: 5vw;
    text-align: center;
}

@media (max-width: 800px){
    #mohan-banner-title{
        font-size: 8vw;
        background-color: rgba(0,0,0,0.5);
        padding: 5px;
        width: 100vw;
    }
}

#home-info{
    margin-left: 0 auto;
    margin-top: 35vh;
    padding: 0;
}

                        /*SERVICES PAGE*/

#services-page{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    margin-left: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#services-title{
    color: black;
    text-align: center;
    padding-top: 3rem;
}

#services-title h1{
    font-size: 5em;
}

#carousel-container{
    height: 50vh;
    width: 60vw;
    background-color: slategrey;
}

.carousel-img{
    height: 50vh;
    margin: 0 auto;
}

.carousel-caption{
   padding: 4rem
}




