                    /*COLOURS*/
/*MAROON = #732534*/
/*ORANGE = #DF7200*/


                    /*GENERAL*/


html,body {
    height: 100%;
    margin: 0;
    overflow: visible;
    overflow-x: hidden;
    position: relative;
}


                        /*TEXT*/

.primary-text{
    font-family: "Biryani";
    text-transform: uppercase;
}

.secondary-text{
    font-family: "Poppins";
}

.tertiary-text{
    font-family: "Barlow";
}
.text-shadow{
    text-shadow: 4px 4px 10px black;
}

                        /*NAVBAR*/
.navbar{
    height: 3rem;
    color: white;
}

.navbar .fa{
    margin-left: 1em;
}

#p-number{
    margin-top: 3.5em;
    position: fixed;
    width: auto;
    margin-left: 1rem;
    z-index: 1;
    color: white;
}

#p-number p{
    margin-left: 1em;
    font-size: 1.5rem;
}
                        /*HOME PAGE*/

#home-banner{
    height: 100vh;
    width: 100vw;
    background-image: url("images/mohan-site01.jpg");
    padding: 0;
    display: flex;
    flex: 0 1 auto;
    border-bottom: thin solid darkgrey;
}

@media (max-width: 800px){
    #home-banner{
        height: 100vh;
        width: 100%;
    }
}

#mohan-banner-title{
    color: #732534;
    font-size: 5vw;
    text-align: center;
}

@media (max-width: 800px){
    #mohan-banner-title{
        font-size: 8vw;
        background-color: rgba(0,0,0,0.5);
        padding: 5px;
        width: 100vw;
    }
}

#home-info{
    margin-left: 0 auto;
    margin-top: 35vh;
    padding: 0;
}

                        /*SERVICES PAGE*/

#services-page{
    width: 100vw;
    background-color: antiquewhite;
    margin-left: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    background-image: url(images/blueprint2.jpg);
    background-attachment: fixed;
}

#services-title{
    color: black;
    text-align: center;
    padding-top: 3rem;
}

#services-title h1{
    font-size: 4em;
}

#services-row{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 100vw;
    margin-bottom: 2rem;
}

@media(max-width: 800px){
    #services-row{
        flex-direction: row;
        overflow: scroll;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.services-card{
    height: 15rem;
    width: 10rem;
    border: 2px solid black;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
    flex-shrink: 0;
}

#services-info-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: medium solid #732534;
    border-bottom: medium solid #732534;
    padding: 1rem;
    overflow: hidden;
    margin-bottom: 3rem;
    background-color: rgba(0,0,0,0.5);
}

.services-info-text{
    text-align: center;
    color: white;
}

.more-info:hover{
    cursor: pointer;
    color: #732534;
}

#dd-card{
   background-image: url("http://lorempixel.com/output/nightlife-h-c-380-640-8.jpg") 
}

#ds-card{
   background-image: url("http://lorempixel.com/output/nature-h-c-380-640-6.jpg") 
}

#cb-card{
   background-image: url("http://lorempixel.com/output/animals-h-c-380-640-9.jpg") 
}

#cc-card{
   background-image: url("http://lorempixel.com/output/city-h-c-380-640-5.jpg") 
}

#cw-card{
   background-image: url("http://lorempixel.com/output/sports-h-c-380-640-3.jpg") 
}

#wfc-card{
   background-image: url("http://lorempixel.com/output/abstract-h-c-380-640-4.jpg") 
}

#rd-card{
   background-image: url("http://lorempixel.com/output/animals-h-c-380-640-7.jpg") 
}

#ss-card{
   background-image: url("http://lorempixel.com/output/city-h-c-380-640-4.jpg") 
}




                    /*CONTACT US PAGE*/


#contact-us-page{
    background-color: slategrey;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: white;
}

#contact-us-title{
    color: white;
    text-align: center;
    padding-top: 3rem;
}

#contact-us-title h1{
    font-size: 4em;
}

#contact-row{
    width: 100vw;
    margin-top: 2rem;
    display:flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
}

@media(max-width:800px){
    #contact-row{
        flex-direction: column;
        justify-content: space-around;
    }
}
.contact-card{
    height: 17rem;
    width: 20rem;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: center;
    margin: 2rem
}

@media(max-width:800px){
    .contact-card{
        margin: 0.5rem
    }
}

.c-card-details{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

#phone-card .c-card-details{
    font-size: 2rem;
}