                    /*COLOURS*/
/*MAROON = #732534*/
/*ORANGE = #DF7200*/


                    /*GENERAL*/


body, html {
    height: 100%;
    margin: 0;
    overflow: visible;
    overflow-x: hidden;
    position: relative;
}

*{
    margin: 0;
}


                        /*TEXT*/

.primary-text{
    font-family: "Fjalla One";
    text-transform: uppercase;
}

.secondary-text{
    font-family: "Cantarell";
}

.banner-text{
    color: white;
    text-shadow: 4px 4px 5px black;
}

                        /*NAVBAR*/
.navbar{
    height: 3rem;
}

                        /*HOME PAGE*/

#home-banner{
    height: 100vh;
    width: 100vw;
    background-image: url("images/mohan-site01.jpg");
    padding: 0;
    display: flex;
    flex: 0 1 auto;
    border-bottom: thin solid darkgrey;
}

@media (max-width: 800px){
    #home-banner{
        height: 100vh;
        width: 100%;
    }
}

#mohan-banner-title{
    color: #732534;
    font-size: 5vw;
}

@media (max-width: 800px){
    #mohan-banner-title{
        font-size: 7vw;
        background-color: rgba(0,0,0,0.5);
        padding: 5px
    }
}

#home-info{
    margin-left: 0 auto;
    margin-top: 45vh;
}

                        /*SERVICES PAGE*/

#services-page{
    height: 100vh;
    width: 100vw;
    background-color: floralwhite;
}

.row-container {
    display: flex;
    flex-direction: row;
}

#services-title{
    width: 50%;
    color: black;
    text-align: center;
    margin-top: auto;
}

#services-title h1{
    font-size: 10em;
}

#services-list{
    background-color: black;
    width: 50%;
}





